In [1]:
# Data Science va Sun'iy Intellekt Praktikum # noqa
# 5-MODUL. Machine Learning.
# Linear Regression

In [2]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/housing_LR.csv', index_col=0)
df.head(10)

        district  rooms  size  level  max_levels    price
0   Юнусабадский      3  57.0      4           4  52000.0
1  Яккасарайский      2  52.0      4           5  56000.0
2   Чиланзарский      2  42.0      4           4  37000.0
3   Чиланзарский      3  65.0      1           4  49500.0
4   Чиланзарский      3  70.0      3           5  55000.0
5   Чиланзарский      1  28.0      1           4  25500.0
6   Чиланзарский      1  30.0      2           4  21200.0
7  Яккасарайский      2  32.0      5           5  20000.0
8    Учтепинский      2  51.0      3           4  26200.0
9   Чиланзарский      1  30.0      1           4  22200.0

In [3]:
#### Ustunlar ta'rifi # noqa
# location - sotilayotgan uy manzili # noqa
# district - uy joylashgan tuman # noqa
# rooms - xonalar soni  # noqa
# size - uy maydoni (kv.m) # noqa
# level - uy

In [4]:
df['district'].value_counts()

district
Чиланзарский         1616
Мирзо-Улугбекский    1342
Учтепинский           872
Юнусабадский          847
Мирабадский           717
Яккасарайский         628
Яшнободский           456
Шайхантахурский       356
Олмазорский           262
Сергелийский          159
Янгихаётский           15
Бектемирский            8
Name: count, dtype: int64

In [5]:
# Darsimiz uchun Chilonzor tumanidagi uylarning narxini bashorat qilib ko'ramiz # noqa

In [6]:
housing = df[df.district=='Чиланзарский']
housing.head()

       district  rooms  size  level  max_levels    price
2  Чиланзарский      2  42.0      4           4  37000.0
3  Чиланзарский      3  65.0      1           4  49500.0
4  Чиланзарский      3  70.0      3           5  55000.0
5  Чиланзарский      1  28.0      1           4  25500.0
6  Чиланзарский      1  30.0      2           4  21200.0

In [7]:
# enter to numpy array

In [8]:
X = housing['size'].to_numpy()
X

array([42., 65., 70., ..., 32., 70., 30.])

In [9]:
y = housing['price'].to_numpy()
y

array([37000., 49500., 55000., ..., 28000., 49800., 22914.])

In [10]:
# Narx va uy maydoni o'rtasida chiziqli bog'liqlik bor ekanini tekshirib ko'ramiz. # noqa

In [30]:
import matplotlib.pyplot as plt
import seaborn as sns

ImportError: DLL load failed while importing _cext: The specified module could not be found.

In [ ]:
plt.figure(figsize=(10,6))
sns.scatterplot(data=housing, x='size', y='price')
plt.show()